html {
  box-sizing: border-box;
  font-size: 16px;
  height: -webkit-fill-available;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  /* overflow-y: scroll; */
}

.container {
  width: 100%;
  height: calc(100vh - 5vh);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.avatars1 {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.avatars1 img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #2f2f2f;
  margin: -2rem 0 0 0;
}

.avatars2 {
  display: flex;
  padding-top: 2rem;
}

.avatars2 img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #2f2f2f;
  margin: 0 0 0 -2rem;
}



